*{
    margin:0;
    padding: 0;
}

.login-admin{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(12,2,180);
    background: linear-gradient(90deg, rgba(12,2,180,1) 0%, rgba(9,115,121,1) 35%, rgba(0,212,255,1) 100%);

    &__content {
        background-color: #fff;
        padding: 50px 50px;
        border-radius: 20px;
        width: 500px;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);

        > h1 {
            font-size: 35px;
            text-align: center;
            margin-bottom: 50px;
        }
    }
}